In [53]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
cars_data = pd.read_csv('Cardetails.csv')

In [4]:
cars_data

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.5 kmpl,1197 CC,82.85 bhp,113.7Nm@ 4000rpm,5.0
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.8 kmpl,1493 CC,110 bhp,"24@ 1,900-2,750(kgm@ rpm)",5.0
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.3 kmpl,1248 CC,73.9 bhp,190Nm@ 2000rpm,5.0
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0

In [5]:
cars_data['selling_price'] = cars_data['selling_price'] * 0.012

In [6]:
cars_data

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,5400.0,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,4440.0,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,1896.0,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,2700.0,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,1560.0,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,3840.0,110000,Petrol,Individual,Manual,First Owner,18.5 kmpl,1197 CC,82.85 bhp,113.7Nm@ 4000rpm,5.0
8124,Hyundai Verna CRDi SX,2007,1620.0,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.8 kmpl,1493 CC,110 bhp,"24@ 1,900-2,750(kgm@ rpm)",5.0
8125,Maruti Swift Dzire ZDi,2009,4584.0,120000,Diesel,Individual,Manual,First Owner,19.3 kmpl,1248 CC,73.9 bhp,190Nm@ 2000rpm,5.0
8126,Tata Indigo CR4,2013,3480.0,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0
8127,Tata Indigo CR4,2013,3480.0,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0

In [7]:
cars_data.drop(columns=['torque'], inplace=True)

In [8]:
cars_data.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,Maruti Swift Dzire VDI,2014,5400.0,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,4440.0,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,5.0
2,Honda City 2017-2020 EXi,2006,1896.0,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,5.0
3,Hyundai i20 Sportz Diesel,2010,2700.0,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,5.0
4,Maruti Swift VXI BSIII,2007,1560.0,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,5.0

In [9]:
cars_data.shape

(8128, 12)

In [10]:
#Null Check
cars_data.isnull().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        215
seats            221
dtype: int64

In [11]:
cars_data.dropna(inplace=True)

In [12]:
cars_data.shape

(7907, 12)

In [13]:
# Duplicate check
cars_data.duplicated().sum()

1189

In [14]:
cars_data.drop_duplicates(inplace=True)

In [15]:
cars_data.shape

(6718, 12)

In [16]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6718 entries, 0 to 8125
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6718 non-null   object
 1   year           6718 non-null   int64
 2   selling_price  6718 non-null   float64
 3   km_driven      6718 non-null   int64
 4   fuel           6718 non-null   object
 5   seller_type    6718 non-null   object
 6   transmission   6718 non-null   object
 7   owner          6718 non-null   object
 8   mileage        6718 non-null   object
 9   engine         6718 non-null   object
 10  max_power      6718 non-null   object
 11  seats          6718 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 682.3+ KB

In [18]:
def get_brand_name(car_name):
    car_name = car_name.split(' ')[0]
    return car_name.strip()

In [19]:
get_brand_name('Maruti Swift Dzire VDI')

'Maruti'

In [20]:
cars_data['name'] = cars_data['name'].apply(get_brand_name)

In [21]:
cars_data['name'].unique()

array(['Maruti', 'Skoda', 'Honda', 'Hyundai', 'Toyota', 'Ford', 'Renault',
       'Mahindra', 'Tata', 'Chevrolet', 'Datsun', 'Jeep', 'Mercedes-Benz',
       'Mitsubishi', 'Audi', 'Volkswagen', 'BMW', 'Nissan', 'Lexus',
       'Jaguar', 'Land', 'MG', 'Volvo', 'Daewoo', 'Kia', 'Fiat', 'Force',
       'Ambassador', 'Ashok', 'Isuzu', 'Opel'], dtype=object)

In [22]:
cars_data['mileage'] = cars_data['mileage'].apply(get_brand_name)

In [23]:
cars_data['max_power'] = cars_data['max_power'].apply(get_brand_name)

In [24]:
cars_data['mileage'].unique()

array(['23.4', '21.14', '17.7', '23.0', '16.1', '20.14', '17.3', '23.59',
       '20.0', '19.01', '19.3', '18.9', '18.15', '24.52', '19.7', '22.54',
       '21.0', '25.5', '26.59', '21.5', '20.3', '21.4', '24.7', '18.2',
       '16.8', '24.3', '14.0', '18.6', '33.44', '23.95', '17.0', '20.63',
       '13.93', '16.0', '17.8', '18.5', '12.55', '12.99', '14.8', '13.5',
       '26.0', '20.65', '27.3', '11.36', '17.68', '14.28', '18.53',
       '14.84', '21.12', '20.36', '21.27', '18.16', '22.0', '25.1',
       '20.51', '21.66', '25.2', '22.9', '16.02', '20.54', '22.77',
       '15.71', '23.1', '19.02', '19.81', '26.2', '16.47', '15.04',
       '19.1', '21.79', '18.8', '21.21', '15.37', '11.79', '19.0', '14.3',
       '15.8', '15.1', '19.09', '22.32', '21.9', '14.53', '21.63',
       '20.85', '20.45', '19.67', '23.01', '20.77', '17.92', '17.01',
       '22.37', '19.33', '9.5', '12.83', '22.48', '16.78', '14.67',
       '15.0', '13.96', '18.0', '12.07', '26.21', '10.8', '16.3', '13.6',
       '14.74', '15.6', '19.56', '22.69', '19.16', '18.12', '12.1',
       '17.5', '42.0', '20.4', '21.1', '19.44', '13.0', '21.43', '22.95',
       '16.2', '15.3', '28.09', '17.4', '19.4', '26.6', '17.6', '28.4',
       '14.1', '25.17', '22.74', '17.57', '16.95', '19.49', '17.21',
       '13.2', '14.2', '26.8', '25.4', '11.5', '27.28', '17.97', '12.8',
       '16.55', '12.05', '14.07', '21.02', '11.57', '17.9', '15.96',
       '17.1', '17.19', '21.01', '24.0', '25.6', '21.38', '23.84',
       '23.08', '14.24', '20.71', '15.64', '14.5', '16.34', '27.39',
       '11.1', '13.9', '20.88', '20.92', '23.8', '24.4', '15.29', '21.19',
       '22.5', '19.6', '23.65', '25.32', '23.5', '16.6', '23.9', '20.8',
       '27.62', '12.9', '25.44', '17.88', '22.7', '17.2', '15.42',
       '19.68', '18.7', '15.4', '19.34', '22.71', '25.8', '13.7', '12.2',
       '18.49', '9.0', '0.0', '13.58', '10.1', '20.5', '25.0', '10.5',
       '22.07', '22.3', '15.26', '20.62', '27.4', '23.2', '14.4', '18.4',
       '30.46', '14.02', '11.0', '20.6', '22.05', '20.2', '18.1', '22.1',
       '19.87', '13.01', '18.06', '26.1', '16.52', '13.55', '24.2',
       '25.83', '11.2', '17.09', '21.03', '17.45', '21.64', '21.94',
       '13.87', '19.98', '20.52', '23.57', '11.7', '17.43', '18.88',
       '13.68', '11.18', '20.89', '11.8', '19.62', '21.7', '14.9', '19.5',
       '10.91', '15.7', '20.73', '15.85', '20.7', '14.23', '16.5',
       '17.36', '12.6', '16.36', '14.95', '16.9', '19.2', '16.96',
       '22.15', '18.78', '19.61', '17.71', '18.3', '19.12', '19.72',
       '12.0', '11.4', '23.03', '11.07', '15.9', '17.67', '20.46', '13.1',
       '13.45', '24.8', '15.73', '15.11', '12.7', '21.2', '20.38',
       '21.56', '13.22', '14.49', '15.05', '23.26', '15.41', '13.8',
       '22.27', '32.52', '14.66', '12.12', '16.84', '14.09', '14.7',
       '13.4', '15.5', '13.49', '11.88', '14.6', '10.75', '24.5', '11.74',
       '16.07', '15.63', '26.3', '23.7', '25.47', '17.05', '23.3', '11.9',
       '13.38', '20.86', '10.9', '18.25', '15.2', '20.37', '21.8',
       '11.96', '24.04', '19.69', '13.73', '21.04', '25.01', '10.93',
       '24.29', '13.44', '20.07', '19.08', '20.34', '11.68', '12.5',
       '12.3', '23.87', '16.38', '17.42', '10.0', '18.24', '10.71',
       '19.59', '16.7', '19.83', '21.76', '16.05', '20.28', '16.25',
       '16.73', '18.48', '14.99', '18.76', '16.4', '19.64', '14.94',
       '17.11', '22.8', '32.26', '33.0', '12.4', '18.44', '16.09',
       '12.62', '21.13', '15.17', '21.73', '21.72', '12.85', '14.81',
       '13.24', '21.49', '14.62', '26.83', '11.45', '12.08', '15.74',
       '11.3', '14.21', '11.72', '16.51'], dtype=object)

In [25]:
cars_data['engine'] = cars_data['engine'].apply(get_brand_name)

In [26]:
cars_data['name'].replace(['Maruti', 'Skoda', 'Honda', 'Hyundai', 'Toyota', 'Ford', 'Renault',
       'Mahindra', 'Tata', 'Chevrolet', 'Datsun', 'Jeep', 'Mercedes-Benz',
       'Mitsubishi', 'Audi', 'Volkswagen', 'BMW', 'Nissan', 'Lexus',
       'Jaguar', 'Land', 'MG', 'Volvo', 'Daewoo', 'Kia', 'Fiat', 'Force',
       'Ambassador', 'Ashok', 'Isuzu', 'Opel'], [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31], inplace=True)

In [27]:
cars_data['transmission'].replace(['Manual', 'Automatic'],[1,2], inplace=True)

In [28]:
cars_data['seller_type'].replace(['Individual', 'Dealer', 'Trustmark Dealer'],[1,2,3], inplace=True)

In [29]:
cars_data['fuel'].unique()

array(['Diesel', 'Petrol', 'LPG', 'CNG'], dtype=object)

In [30]:
cars_data['fuel'].replace(['Diesel', 'Petrol', 'LPG', 'CNG'],[1,2,3,4], inplace=True)

In [31]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6718 entries, 0 to 8125
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6718 non-null   int64
 1   year           6718 non-null   int64
 2   selling_price  6718 non-null   float64
 3   km_driven      6718 non-null   int64
 4   fuel           6718 non-null   int64
 5   seller_type    6718 non-null   int64
 6   transmission   6718 non-null   int64
 7   owner          6718 non-null   object
 8   mileage        6718 non-null   object
 9   engine         6718 non-null   object
 10  max_power      6718 non-null   object
 11  seats          6718 non-null   float64
dtypes: float64(2), int64(6), object(4)
memory usage: 682.3+ KB

In [32]:
cars_data['selling_price'] = cars_data['selling_price'].astype(int)

In [33]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6718 entries, 0 to 8125
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6718 non-null   int64
 1   year           6718 non-null   int64
 2   selling_price  6718 non-null   int32
 3   km_driven      6718 non-null   int64
 4   fuel           6718 non-null   int64
 5   seller_type    6718 non-null   int64
 6   transmission   6718 non-null   int64
 7   owner          6718 non-null   object
 8   mileage        6718 non-null   object
 9   engine         6718 non-null   object
 10  max_power      6718 non-null   object
 11  seats          6718 non-null   float64
dtypes: float64(1), int32(1), int64(6), object(4)
memory usage: 656.1+ KB

In [34]:
cars_data['selling_price'] = cars_data['selling_price'].astype('int64')

In [35]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6718 entries, 0 to 8125
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6718 non-null   int64
 1   year           6718 non-null   int64
 2   selling_price  6718 non-null   int64
 3   km_driven      6718 non-null   int64
 4   fuel           6718 non-null   int64
 5   seller_type    6718 non-null   int64
 6   transmission   6718 non-null   int64
 7   owner          6718 non-null   object
 8   mileage        6718 non-null   object
 9   engine         6718 non-null   object
 10  max_power      6718 non-null   object
 11  seats          6718 non-null   float64
dtypes: float64(1), int64(7), object(4)
memory usage: 682.3+ KB

In [36]:
cars_data['owner'].unique()

array(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth & Above Owner', 'Test Drive Car'], dtype=object)

In [37]:
cars_data['owner'].replace(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth & Above Owner', 'Test Drive Car'], [1,2,3,4,5], inplace=True)

In [38]:
cars_data

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,1,2014,5400,145500,1,1,1,1,23.4,1248,74,5.0
1,2,2014,4440,120000,1,1,1,2,21.14,1498,103.52,5.0
2,3,2006,1896,140000,2,1,1,3,17.7,1497,78,5.0
3,4,2010,2700,127000,1,1,1,1,23.0,1396,90,5.0
4,1,2007,1560,120000,2,1,1,1,16.1,1298,88.2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8121,1,2013,3120,50000,2,1,1,2,18.9,998,67.1,5.0
8122,4,2014,5700,80000,1,1,1,2,22.54,1396,88.73,5.0
8123,4,2013,3840,110000,2,1,1,1,18.5,1197,82.85,5.0
8124,4,2007,1620,119000,1,1,1,4,16.8,1493,110,5.0
8125,1,2009,4584,120000,1,1,1,1,19.3,1248,73.9,5.0

In [40]:
input_data = cars_data.drop(columns=['selling_price'])
output_data = cars_data['selling_price']

In [44]:
x_train, x_test, y_train, y_test = train_test_split(input_data, output_data, test_size=0.2)

In [42]:
#model creation
model = LinearRegression()

In [43]:
#train model
model.fit(x_train, y_train)

LinearRegression()

In [45]:
predict = model.predict(x_test)

In [57]:
predict

array([3260.263864  , 4830.58361513, 1514.45717224, ..., 9423.6340435 ,
       6540.74417463, 2075.12502828])

In [58]:
model.score(x_test, y_test)
x_train.head(1)

,name,year,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
2504,1,2012,70000,2,1,1,2,20.92,998,67.1,5.0

In [63]:
input_data_model = pd.DataFrame(
    [[1,2012,0,2,1,1,2,20.92,998,67.1,5.0]],
    columns=['name','year','km_driven','fuel','seller_type','transmission','owner','mileage','engine','max_power','seats'])

In [61]:
input_data_model

,name,year,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,1,2012,70000,2,1,1,2,20.92,998,67.1,5.0

In [64]:
model.predict(input_data_model)

array([2886.50417537])

In [65]:
import pickle as pk

In [66]:
pk.dump(model,open('model.pkl','wb'))